@model dynamic
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h2 style="text-align:center;">
    เกร็ดความรู้เรื่องการเกษตร  
</h2>
<div class="table-responsive">
    <table id="tbtest" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>

</div>





<input id="btn" type="submit" value="submit" />

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbtest').DataTable();
        });
        $(document).ready(function () {
            $("#btn").click(function () {
                Swal.fire(
                    'Good job!',
                    'You clicked the button!',
                    'success'
                )
            });
        });
        $(document).ready(function () {
            var url = '@Url.Action("LoginIndex","Login")';
            $("#btnt").click(function () {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Approved it!'
                }).then((result) => {
                    if (result.value) {
                       
                        window.location.href = url
                    }

                })

            });
        });
    </script>


}